* {
   box-sizing: border-box;
}
body {
   font-family: "Rubik", Arial, "Helvetica Neue", Helvetica, sans-serif;
   color: #402B2B;
}
.container {
   max-width: 1170px;
   margin: 0 auto;
   padding: 10px;
}